#apis-container {
    background-color: red;
    width: 100%;
    height: 100%;
}


img {
    width: 400px;
    display: block;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.api > div {
    width: 50%;
    display: block;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.api-pokemon {
    text-align: center;
    text-transform: capitalize;
    font-size: 50px;
}

/* .api-video {
    width: 50%;
    display: block;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}

#chart {
    width: 400px;
    height: 400px;
    display: block;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: white;
} */