/* latin */
@font-face {
    font-family: 'Varela Round';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/varelaround/v19/w8gdH283Tvk__Lua32TysjIfp8uP.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    margin: 0; /* reseteo del margen */
    background-color: #345D61;

    /*footer at the bottom*/
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

header#home {
    font-family: 'Varela Round','Playfair Display SC', serif;

    background-color: #060E0F;
    /* padding: 1.5rem 1rem; rem es relativo al tamano de la etiqueta html */
    text-align: center;

    display: flex;
    flex-direction: row;
    justify-content: space-between; /*
    El primer item al inicio y el último al final */

    /* position: absolute;
    top: 0; */
    width: 100%;
    height: 100px;
    line-height: 0;

    box-shadow: 0 0 25px #0C181D;
}
  

section.canvas-cv {
    font-family: 'Varela Round', arial, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* width: 100%; */
    height: 100%;
    background-color: #060E0F;
    box-shadow: 0 0 25px #0C181D;

}

section.canvas-cv img {
    width: 25%;
    padding: 20px 10px 0 100px;
}

section.canvas-cv div {
    width: 75%;
    margin: 0 50px 0 50px;
    padding: 0 50px 0 50px;
    border: 2px grey solid;

    margin: 80px, auto 80px auto;
    border: 2px;

    background-color: #f7f5dc;
}


section.canvas-cv div h2 {
    width: 100%;
    padding-top: 20px;
    text-align: center;
    color: #444;

    font-family: "Varela Round",arial,sans-serif;
    font-size: 26px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 400;
    font-style: normal;
}

.cv .list {
    width: 100%;
    background-color: white;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 18px;
    border-radius: 5%;
}

.cv .list ul {
    padding: 0;
}

.cv .list li {
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-top: 2px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 18px;
    display: inline-block;
    margin-left: 2%;
    margin-right: 2%;
}

.cv .list a {
    list-style: none;
    text-decoration: none;
    color: hsl(0, 0%, 27%);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    font-style: normal;
    border-bottom-width: 2px;
}

.cv .list a:hover {
    color: #111;
    border-bottom-color: #111;
    border-bottom-style: solid;
}


header .logo {
    width: 100%;
}

/* section.description {
    padding: 20px 50px 20px 50px;

    display: flex;
}

.description-text {
    width: 75%;
    padding: 0 5px 0 20px;
    text-align: justify;
}

.description-extra {
    padding: 0 40px 0 40px;
    text-align: justify;
} */

header h1 {
    font-size: 300%;
    color: white;
    text-align: left;
    padding: 1.5rem;
}
/* menu desplegable */
header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: right;
    width: 50%;

    font-size: 120%;

}

header nav ul {
    display: flex;
    flex-direction: row;
    gap: 2rem; /* espacio entre li's */
    padding: 10px;
    margin: 10px;

}

header nav ul li {
    list-style-type: none;
    padding-left: 5%;
    padding-right: 5%;
    margin: center;
    width: 10rem;
    height: 3rem;
    position: relative;
    line-height: 3rem;
}

header nav ul li:hover {
    background-color: #0C1A1D;
    border-radius: 13px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;


    padding: 50% 0 50% 0;
}

footer#page-footer {
    background-color: #0C1B1D;
    padding: 1.5rem 1rem;
    color: white;

    height: 40px;
    line-height: 40px;

    box-shadow: 0 0 15px #0C181D;
}

footer section {
    float: right;
    width: 25%;
    text-align: center;

    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 50px;
    grid-auto-columns: max-content;
    justify-content: end;

}

footer p {
    margin: 0;
}

section.description img {
    width: 350px;
}

.social-icons{
    float: right;
    list-style: none;
    margin: 0;
    display: flex;
}

.social-icons li {
    margin-left: 20px;
    padding-right: 10px;
}

ul.social-icons li a.icon img {
    width: 40px;
    height: 40px;
}
ul.social-icons li a.icon img:hover{
    transition: transform 0.3s ease;
    transform: scale(1.2);
}