.grow-icons * i {
  transition: all 0.2s ease-in-out;
}
.grow-icons * i:hover {
  transform: scale(1.2);
}

#navbarNavDarkDropdown {
  display: flex;
  justify-content: flex-end;
}

img {
  max-width: 100%;
  height: auto;
}

.increase-on-hover {
  transition: all 0.1s;
}
.increase-on-hover:hover {
  transform: scale(1.02);
}
